.larger-modal .modal-dialog {
    width: 76%;
}

.larger-modal .modal-body {
    height: 68rem;
}

#RetrieveContainer {
    overflow: scroll;
    height: 100%;
}

.template {
    display: none;
}

#CardBoxes>div {
    margin-bottom: 1.5rem;

    &:last-child {
        margin-bottom: 0;
    }
}
#Analysis-Histogram {
    /* width: 100%;  */
    height: 48rem;
}
#AnalysisModal .container {
    font-size: large;
}

#AnalysisModal .modal-body {
    padding: 0;
}

.trigger-word {
    padding-right: 1rem;
}